<form class="text-center" action="<%= experiences_path %>">
  <input type="text" name="query" class="search-input" placeholder="       Choose your city">
  <button action="" type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  </button>
</form>
