.row {
  width: 100%;
}

.banner_exp {
  background-size: cover;
  background-position: center;
}

.booking_title {
  text-align: center;
  margin-top: 0;
  color: white;
  font-size: 56px;
}

.input_label {
  font-size: 22px;
  font-weight: 400;
}


