.search-input {
  padding: 6px 44px;
  background: transparent;
  border-width: 1px;
  border-color: ghostwhite;
  color: white;
  font-weight: lighter;
  border-radius: 2px;
  transition: 0.5s ease;
  text-align: center;
  position: relative;
  left: 18px;


  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: white;
  }


  &:focus {
    outline-width: 0px;
    border-color: transparent transparent white;
  }
}

.searchButton {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  left: 18px;
}

.searchButton:focus {
  outline: none;
}

